# System service

[Unit]
Description=VIA uled
Before=upower.service
After=local-fs.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/viauled
# This delays service startup confirmation until we're fully up
ExecStartPost=/usr/local/bin/viauled -w
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
